.boxPai {
  height: 100vh;
}

.text-decorator-none { 
  text-decoration: none
}

.textos1 {
  font-weight: bold;
}

.imagem {
  background-repeat: no-repeat;
  width: 500px !important;
  height: 500px !important;
  background-size: cover;
  background-position: center;
}