.box1 {
  background-color: #093A3E;  

}

.textos {
  color: white;
}

.linkedin {
  font-size: 30 ;
  color: white;
}

.github {
  font-size: 30;
  color: white;
}

.box2 {
  background-color: #64E9EE;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

