.box1 {
  background-color: #5b7bb2;
  height: 120px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.textos {
  color: white;
}

.linkedin {
  font-size: 30 ;
  color: white;
}

.github {
  font-size: 30;
  color: white;
}

.box2 {
  background-color: #82b1ff;
  height: 60px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

